/*martin: pace control bar*/
#paceControll {
    position: absolute;
    display: inline-flex;
    color: #fff;
    height: 7vh;
    width: 30vw;
    left: 30vw;
    text-align: center;
}
#pcIndicator {
    width: 15vw;
}
#paceControll img {
    height: 4vh;
    width: 100%;
}
#indicator {
    position: relative;
    height: 4vh;
    width: 0.3vw;
    border: 3px solid #000;
    left: 47.5%;
    top: -72%;
}
/*martin: end of pace control*/





.subjectList {
    height: 100%;
    width: 14vw;
    z-index: 9;
    box-shadow: -8px 0px 10px rgba(0, 0, 0, .5);
}

#editSubjects {
    position: absolute;
    z-index: 8;
    background: green;
}