#newsFeed {
    float: left;
    height: 100%;
    width: 80%;

}

#subjectsBar {
    height: 100%;
    display: inline-block;
    box-shadow: -8px 0px 10px rgba(0, 0, 0, .5);
}

@media (max-width: 700px) {
    #newsFeed {
        width: 70%;
    }
}