/*martin: pace control buttons*/
#slowBtn {
    display: inline-block;
    background-color: #f00;
    width: 7vw;
    height: 100%;
    border: none;
    cursor: pointer;
}
#fastBtn {
    background-color: #0f0;
    height: 100%;
    width: 7vw;
    border: none;
    cursor: pointer;
}
/*martin: pace controll field end*/

@media (max-width: 700px) {
    #newsFeed {
        width: 70%;
    }
}