#lectureFeed {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background-color: rgba(150, 150, 150, .5);
    left:0;
    top:0;
}
#lectureContent {
    position: fixed;
    width: 90vw;
    height: 90vh;
    margin-left: 5vw;
    margin-top: 2vh;
    background-color: #fff;
}

#newsFeed {
    float: left;
    height: 100%;
    width: 80%;
}
#lowerMain {
    cursor: pointer;
}
#lowerMain:hover {
    border: 1px solid black;
}

#subjectsBar {
    height: 100%;
    display: inline-block;
    box-shadow: -8px 0px 10px rgba(0, 0, 0, .5);
}

#fullscreenInfo {
    position: absolute;
    right: 0;
    background-color: red;
    z-index: 9;
    padding: 12px;
    font-size: 12px;
}
#exit {
    position: fixed;
    font-size: 40px;
    right: 1vw;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

@media (max-width: 700px) {
    #newsFeed {
        width: 70%;
    }
}