#createSubject {
    max-width: inherit;
    bottom: 0;
}
#newSubjectName {

}

#currentSubject {
    display: none;
    width: 20vw;
    border-right: 2px solid #000;
}

#currentSubjectName {
}

#subjectList li {
    cursor: pointer;
}

#subjectList li:hover {
    font-weight: bold;
}