/*martin: pace control buttons*/
.paceBtn {
    display: inline-block;
    width: 7vw;
    height: 101%;
    border: none;
    color: #fff;
    background: rgba(0, 0, 0, .2);
    cursor: pointer;
}
 #allSubjects li {
     cursor: pointer;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
 }
 #allSubjects li:hover {
     font-weight: bold;
 }

 #selectSubjectText {
   opacity: 0.5;
   text-align: center;
 }

 #subjectList li:hover {
   font-weight: bold;
 }

#allSubjectsList {
    list-style-type: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#allSubjectsList li:hover {
  font-weight: bold;
}

 /* Style the tab */
 div.tab {
     overflow: hidden;
     border: 1px solid #ccc;
     background-color: #f1f1f1;
 }

 /* Style the links inside the tab */
 div.tab a {
     float: left;
     display: block;
     color: black;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     transition: 0.3s;
     font-size: 17px;
 }

 /* Change background color of links on hover */
 div.tab a:hover {
     background-color: #ddd;
 }

 /* Create an active/current tablink class */
 div.tab a:focus, .active {
     background-color: #ccc;
 }

 /* Style the tab content */
 .tabcontent {
     display: none;
     padding: 6px 12px;
     border: 1px solid #ccc;
     border-top: none;
 }
/*martin: pace controll field end*/

@media (max-width: 900px) {
    #newsFeed {
        width: 60vw;
    }
}
