#lectureFeed {
    display: block;
}

/*martin: pace control buttons*/
.paceBtn {
    display: inline-block;
    width: 10vw;
    font-size: 2.5vw;
    height: inherit;
    border: none;
    color: #fff;
    top: 0;
    background: rgba(0, 0, 0, .2);
    cursor: pointer;
}

.paceBtn:hover {
    background: rgba(0, 0, 0, .6);
}
.paceBtn:last-child {
    float: right;
}

#allSubjects li {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#allSubjects li:hover {
    font-weight: bold;
}

#selectSubjectText {
    opacity: 0.5;
    text-align: center;
}

#subjectList li:hover {
    font-weight: bold;
}

#allSubjectsList {
    list-style-type: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#allSubjectsList li:hover {
  font-weight: bold;
}

 /* Style the tab */
 div.tab {
     overflow: hidden;
     border: 1px solid #ccc;
     background-color: #f1f1f1;
 }

 /* Style the links inside the tab */
 .tab a {
     float: left;
     display: block;
     color: black;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     transition: 0.3s;
     font-size: 17px;
 }

 /* Change background color of links on hover */
 div.tab a:hover {
     background-color: #ddd;
 }

 /* Create an active/current tablink class */
 div.tab a:focus, .active {
     background-color: #ccc;
 }

 /* Style the tab content */
 .tabcontent {
     display: none;
     padding: 6px 12px;
     border: 1px solid #ccc;
     border-top: none;
 }

@media (max-width: 900px) {
    #newsFeed {
        width: 60vw;
    }
}

.goToLectureBtn {
    background-color: #4CAF50; /* Green */
    position: absolute;
    margin-left: .5vw;
    border: none;
    color: white;
    padding: 7px;
    display: inline-block;
    font-size: 1vw;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}



/*messageFeed */
.messageContainer {
    width: 90vw;
    float: right;
    max-height: 61vw;
}
.messageFeed div:nth-child(1) {
    background-color: #107020;
}
.messageFeed div:nth-child(2) {
    background-color: #1b7b2b;
}
.messageFeed div:nth-child(3) {
    background-color: #3C8F30;
}
.messageFeed div {
    background-color: #4CAF50;

}

.messageFeedTopContainer {
    width: inherit;
}

.message {
    width: inherit;
    min-height: 8ch;
}
#newMessage {
    width: inherit;
    height: 8ch;
    display: inline-block;
}

.messageContainer textarea {
    width: inherit;
    height: 10ch;
    resize: none;
    font-size: 1vw;
    box-sizing: border-box;
    border: none;
}

#submitMessageBtn {
    background-color: #34495e;
    color: #fff;
    font-size: 3vw;
    width: inherit;
    height: 5vw;
    line-height: 3ch;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#submitMessageBtn:hover {
    background-color: #203040;
}

.tab {
    display: flex;
    flex-grow: 1;
}
.tab a {
    flex: 1;
}