body {
    font-family: "Century Gothic";
}

#topContainer {
    display: inline-block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 4.3em;
    background-color: #999999;
    transition: 0.5s;
}

#dropDownContent {
    display: none;
    position: fixed;
    width: 15vw;
}

#dropDownContent a {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #999;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#dropDownContent a:hover {
    background-color: #2b2b2b;
}

#mainContainer {
    width: 80%;
    margin-top: 5.5em;
    min-height: 100ch;
    margin-left: 10%;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
#upperMain {
    height: 40ch;
    width: 100%;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

#lowerMain {
    width: 100%;
    height: 400px;
}

/*martin: window when entering lecture mode*******************/
#lectureFeed {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background-color: rgba(150, 150, 150, .5);
    left:0;
    top:0;
}
    #lectureContent {
        position: fixed;
        width: 90vw;
        height: 95vh;
        margin-left: 5vw;
        margin-top: 2vh;
        background-color: #fff;
    }
/*martin: end of lecture window*******************/

#subjectName {
    font-size: 2vw;
    margin-left: 24vw;
}


/*martin: everything within lecture content ***********/
#lectureTopContainer {
    width: 100%;
    height: 7.1vh;
    background-color: #f1c40f;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);;
}

/*martin: this the red info on the right*/
#fullscreenInfo {
    position: absolute;
    right: 0;
    background-color: #f00;
    z-index: 9;
    padding: 12px;
    font-size: 12px;
}

#exit {
    position: fixed;
    font-size: 40px;
    right: 1vw;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

/*martin: end of lecture content**********/
#newsFeed {
    float: left;
    height: 100%;
    width: 63vw;
}
#lowerMain {
    cursor: pointer;
}
#lowerMain:hover {
    border: 1px solid #000;
}

#subjectsBar {
    height: 100%;
    width: 14vw;
    display: inline-block;
    box-shadow: -8px 0px 10px rgba(0, 0, 0, .5);
}

#subjectsBar li {
    font-size: 1.6vw;
    list-style-type: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

footer {
    position: static;
    bottom: 0;
    width: 90%;
    margin-left: 5%;
    margin-top: 5px;
    border: 1px solid black;
    height: 60px;
}
#lecturifyText {
    display: inline-block;
    color: #FFFFFF;
    top: 0;
    margin-left: 0.1em;
    font-size: 3.1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

#lecturifyText:hover {
    color: black;
}

.sectionOverhead {
    font-weight: bold;
    font-size: 2em;
}

#topContainer a {
    font-size: 3vw;
}


.beforeSelectedSubject {
    display: inline;
}
.beforeSelectedSubject h3 {
    display: inline-block;
    text-align: center;
    opacity: 0.5;
}
@keyframes arrowAnimationCode {
    0%, 30%, 50%, 80%, 100% {
        transform: translate(0, 0);}
    40% {
        transform: translate(1.4vw, 0);
    }
    60% {
        transform: translate(.8vw, 0);
    }
}
.arrowAnimation {
    opacity: .5;
    height: 5vh;
    margin-top: 2vh;
    float: right;
    animation-name: arrowAnimationCode;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

